.title {
  display: flex;
  flex-direction: column;

  background-color: #1f2937;
  padding: 0 200px;
  padding-bottom: 50px;
  flex-shrink: 0;
}

.header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
ul.link {
  display: flex;
  list-style: none;
  column-gap: 35px;
}

.woman {
  height: 350px;
  width: 550px;
}
.top {
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.sign-up {
  color: white;
  background-color: #3882f6;
  border-radius: 18%;
  width: 90px;
  height: 30px;
}
.hero {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  width: 300px;
}
.link a,
.left p {
  font-size: 18px;
  color: #e5e7eb;
}
.header h2 {
  font-size: 24px;
  color: #f9faf8;
}

li img {
  width: 150px;
  height: 150px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info ul {
  display: flex;

  list-style: none;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
}
.pic {
  display: flex;
  height: 250px;
  margin-top: 20px;
}
.pic li {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 150px;
  justify-content: center;
  align-items: center;
}
.quote {
  display: flex;
  flex: auto;
  justify-content: center;
  background-color: #e5e7eb;
}
.quote2 {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 50px 0px;
  padding-left: 50px;
}
.quote2 p {
  font-size: 36px;
  font-weight: lighter;
  color: #1f2937;
  margin: 0%;
}
.quote2 h4 {
  align-self: flex-end;
  margin: 0px;
}
.end {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.blue {
  width: 900px;
  height: 100px;
  display: flex;
  background-color: #3882f6;
  margin: 50px;
  border-radius: 5%;
  justify-content: center;
  column-gap: 250px;
  align-items: center;
}
.blue h4,
.blue p {
  margin: 0%;
  color: white;
}
.button .sign-up {
  border-color: white;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: white;
  padding: 20px;
}
